<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29dd0058d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Task Manager</title>
</head>
<body>
    <header>
        <a href="/home">Home</a>
        <a href="/tasks">Tasks</a>
    </header>
    <div class="container">

        <main><%- body %></main>

    </div>
    <footer>&copy; 2022 Vetto</footer>
</body>
</html>