<h1>Add task:</h1>
<form action="/tasks/add" method="POST" class="form">
    <div class="task-add">
        <label for="taskname">Task name: </label>
        <input type="text" name="taskname" placeholder="Taskname">
    </div>
    <div class="task-add">
        <label for="description">Description: </label>
        <input type="text" name="description" placeholder="Description">
    </div>
    <input type="submit" value="Send" class="send-button" >
</form>